h1{
    color:green;
    letter-spacing: 20px;
    word-spacing: 200px;
    writing-mode: vertical-rl;
    
}

p{

  text-align: center;


}

h2{
text-transform:overline;

}

h3{

text-decoration: underline;

}

h4{

text-decoration: line-through;
white-space: var(center);
text-transform: lowercase;
font-family: 'Times New Roman', Times, serif;
}
.myElements{
    color: blue;
}
#normalText{
    font-style: normal;
}
#italicText{
    font-style: italic;
}
#boldText{
    font-style: oblique;
}